@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.photo{
    background-image: url(capaprédio.jpg);
   
}


.body{
    background-color: #0a363b;

}

.section,footer{
    padding: 54px 0;

}

.h3{
    font-size: 50px;
}

.p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
    
.btn{
    background-color: #0a363b;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: o.1s;
}

.btn:hover{
    background-color: #37737b;
}

.header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}


.ul{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
}



.nav1{
    color: azure;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: bflex;
}

.nav1 ul:not(.btn)::after{
    content: "";
    background-color: #0a363b ;
    height: 3px;
    width: 0%;
    display: flex;
    margin: 0 auto;
    transition: 0.3s;
}

.nav1 ul:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    color: white
}

.banner .banner-text p{
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
    margin: 18px 0;
}

/*sobre*/

.sobre .container{
    display: flex;
    align-items: center;
}

.sobre .sobre-text{
    width: 50%;
    padding: 0 40px;
}

.sobre .sobre-text h3{
    font-size: 56px;
}

.sobre .sobre-text p{
    margin: 5px 0 10px 0;
}

.sobre .sobre-img{
    width: 50%;
}

.sobre .sobre-img img{
    width: 100%;
}

/*REGIÃO*/

.região .container{
    display: flex;
    align-items: center;
}

.região .região-text{
    width: 50%;
    padding: 0 40px;
}

.região .região-text h3{
    font-size: 56px;
}

.região .região-text p{
    margin: 5px 0 10px 0;
}

.região .região-img{
    width: 50%;
}

.região .região-img img{
    width: 100%;
}

/*LOGIN*/

.login .container{
    display: flex;
    align-items: center;
}

.login .login-text{
    width: 50%;
    padding: 0 40px;
}

.login .login-text h3{
    font-size: 56px;
}

.login .login-text p{
    margin: 5px 0 10px 0;
}

.login .login-img{
    width: 50%;
}

.login .login-img img{
    width: 100%;
}

/*CADASTRO*/

.cadastro .container{
    display: flex;
    align-items: center;
}

.cadastro .cadastro-text{
    width: 50%;
    padding: 0 40px;
}

.cadastro .cadastro-text h3{
    font-size: 56px;
}

.cadastro .cadastro-text p{
    margin: 5px 0 10px 0;
}

.cadastro .cadastro-img{
    width: 50%;
}

.cadastro .cadastro-img img{
    width: 100%;
}

/*DUVIDA*/

.duvida .container{
    display: flex;
    align-items: center;
}

.duvida .duvida-text{
    width: 50%;
    padding: 0 40px;
}

.duvida .duvida-text h3{
    font-size: 56px;
}

.duvida .duvida-text p{
    margin: 5px 0 10px 0;
}

.duvida .duvida-img{
    width: 50%;
}

.duvida .duvida-img img{
    width: 100%;
}

/*DESENVOLVEDORA*/

.desen .container{
    display: flex;
    align-items: center;
}

.desen .desen-text{
    width: 50%;
    padding: 0 40px;
}

.desen .desen-text h3{
    font-size: 56px;
}

.desen .desen-text p{
    margin: 5px 0 10px 0;
}

.desen .desen-img{
    width: 50%;
}

.desen .desen-img img{
    width: 100%;
}

/*footer*/
.footer{
    background-color: #37737b;
    text-align: center;
}

.footer i{
    color: #37737b;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p{
    margin-top: 10px;
    color: white;
}